<div>
  <header>
  </header>
  <div
    style='max-width: 512px; background: white; padding: 20px; margin: auto;'
  >
    <div style=' border: 2px solid #4a8f3c; padding: 30px 32px 30px 32px'>
      <center>
        <img src='cid:nbol-logo' alt='NBOL LOGO' style='width: 400px' />
      </center>

      <div style='margin-top: 20px; line-height: 1.6; color:#404040'>

        <p style='font-size: 10px; color:#404040'>Dear {{name}},</p>
        <p style='font-size :10px; color:#404040'>You have been selected for the Nbol Class Coaching Sessions:</p>
      </div>

      <div style='margin-top: 15px;'>
        <p style='font-size: 10px ;color:#404040'>Session Details:</p>
        {{!-- <p style='font-size: 10px; color:#404040'>Date: {{date}}</p> --}}
        {{! <p style='font-size: 10px ;color:#404040'>Time: 10:00 am - 5:00 pm</p> }}
        {{!-- <p style='font-size: 10px; color:#404040'>Venue: {{facility}}</p> --}}
        <p style='font-size: 10px; color:#404040'>Email: {{email}}</p>
        <p style='font-size: 10px; color:#404040'>Password: 1234</p>

        <p style='font-size: 10px; color:#404040'>Date: {{Date}}</p>
        <p style='font-size: 10px; color:#404040'>Start Time: {{start_time}}</p>
        <p style='font-size: 10px; color:#404040'>End Time: {{end_time}}</p>
        <p style='font-size: 10px; color:#404040'>Venue: {{venue}}</p>

      </div>
      <p style='font-size: 10px; color:#404040'>Inviitation for NBOL Class Coaching Session...</p>
      <p style='font-size: 10px; color:#404040'>Looking forward to your
        Confirmation!</p>

      <div style='margin-top: 20px; '>
        <p style='font-size: 10px; color:#404040'>If you have any questions,
          please contact Amin Zawawi at 018-2023840 or email
          <a
            href='mailto:amin.zawawi@nboleadership.com'
            style='color: #0069FF; text-decoration: none; font-weight: bold;'
          >amin.zawawi@nboleadership.com</a>
        </p>
      </div>

      <div style='margin-top: 30px; color:#404040;  font-size:10px'>Yours
        Sincerely,<br />NBOL Leadership
      </div>
    </div>
  </div>
</div>